
<div style="width: 20%; margin: 2em">

<app-impact-matrix
      [descriptor]="descriptor"
      [impact]="impact"
      [likelihood]="likelihood"
      [colorConfig]="colorConfig"
      [riskSource]="riskSource"
      [showFGSs]="showFGSs"
    ></app-impact-matrix>

  </div>


<div style=" box-shadow: antiquewhite; width: 50% ;padding:1em; border-radius: 25px;
     background: lightgray;
     font-family: sans-serif;
    "
      >
  <h3>Change matrix values</h3>
  <label *ngIf="!showFGSs" > Show NSWWS Descriptor text:
    <input  class="check-box-style" type="checkbox" [(ngModel)]="descriptor" /> </label>
<p></p>
  <p *ngIf="!showFGSs" >Impact: <input type="number" max="4" min="2" [(ngModel)]="impact" /></p>
  <p *ngIf="!showFGSs" >
    Likelihood:
    <input type="number" max="4" min="1" [(ngModel)]="likelihood" />
  </p>


  <label > Change green cell colors:
    <input type="color" #colorInput placeholder="Enter JSON object here" [(ngModel)]="colorConfig.green">
  </label>
  <p></p>

  <label > Change yellow cell colors:
    <input  type="color" #colorInput placeholder="Enter JSON object here" [(ngModel)]="colorConfig.yellow">
  </label>
  <p></p>
  <label > Change amber cell colors:
    <input type="color" #colorInput placeholder="Enter JSON object here" [(ngModel)]="colorConfig.amber">
  </label>
  <p></p>


  <label > Change red cell colors:
    <input type="color" #colorInput placeholder="Enter JSON object here" [(ngModel)]="colorConfig.red">
  </label>
  <p></p>
  <label> Show FGS matrix:
    <input class="check-box-style" type="checkbox" [(ngModel)]="showFGSs" (change)="hideDescriptor(showFGSs)" /> </label>
  <p></p>
  <label>Show impact-matrix key <input  class="check-box-style" type="checkbox" [(ngModel)]="matrixKey" /> </label>
  <p></p>
<div *ngIf="showFGSs">

  <label>Select matrix source letter</label><select name="fgsMatrix" [(ngModel)]="riskSource.riskSource[0].letter">
    <option value="G">'Ground'</option>
    <option value="H">'Surface'</option>
    <option value="C">'Coastal'</option>
  <option value="R">'River'</option>


  <option value="G, S">'Ground, Surface'</option>
  <option value="G,S, R">'Ground, Surface, River'</option>
  <option value="G, S, R, C">'Ground, Surface, River, Coastal'</option>


  </select>

  <label>Select matrix source letter</label><select name="fgsMatrix" [(ngModel)]="riskSource.riskSource[0].matrixPosition">
  <option value="1,1">'1,1'</option>
  <option value="1,2">'1,2'</option>
  <option value="1,3">'1,3'</option>
  <option value="1,4">'1,4'</option>

  <option value="2,1">'2,1'</option>
  <option value="2,2">'2,2'</option>
  <option value="2,3">'2,3'</option>
  <option value="2,4">'2,4'</option>

  <option value="3,1">'3,1'</option>
  <option value="3,2">'3,2'</option>
  <option value="3,3">'3,3'</option>
  <option value="3,4">'3,4'</option>

  <option value="4,1">'4,1'</option>
  <option value="4,2">'4,2'</option>
  <option value="4,3">'4,3'</option>
  <option value="4,4">'4,4'</option>
</select>
</div>
</div>


  <app-impact-matrix-key *ngIf="matrixKey"
                           [colorConfig]="shellColorConfig"
                           [matrixKey] = "matrixKey"
  ></app-impact-matrix-key>


