<table>
  <tr>
    <td rowSpan="5" >
      <div class="axesLabel likelihood">Likelihood</div>
    </td>

    <th class="vertical-header" >HIGH</th>

    <td class="cell" [ngStyle]="{ backgroundColor: colorConfig.green}">

    </td>

    <td class="cell" [ngStyle]="{ backgroundColor: colorConfig.yellow}">

    </td >

    <td class="cell" [ngStyle]="{ backgroundColor: colorConfig.amber}">
    </td>

    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.red}">

    </td>
  </tr>

  <tr>
    <th class="vertical-header">MEDIUM</th>
    <td  class="cell"[ngStyle]="{ backgroundColor: colorConfig.green}">


    </td>
    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.yellow}">


    </td>
    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.amber}">


    </td>
    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.amber}">

    </td>
  </tr>
  <tr>



    <th class="vertical-header">LOW</th>
    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.green}">

    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.green}">

    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.yellow}">

    </td>
    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.amber}">

    </td>


  </tr>
  <tr>
    <th class="vertical-header">VERY LOW</th>
    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.green}">

    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.green}">

    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.yellow}">

    </td>
    <td class="cell"[ngStyle]="{ backgroundColor: colorConfig.yellow}">

    </td>
  </tr>
  <tr>
    <th class="horizontal-header"></th>
    <th class="horizontal-header">MINIMAL</th>
    <th class="horizontal-header">MINOR</th>
    <th class="horizontal-header">SIGNIFICANT</th>
    <th class="horizontal-header">SEVERE</th>
  </tr>
<!--  <tr>-->
    <td colSpan="6" >
      <div class="axesLabel impact"> Impact</div>
    </td>
<!--  </tr>-->
</table>
